/* Universal Selector */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background */

body{
    background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* Type Selector */

h1{
    color: yellow;
}

/* Class Selector */

.heading{
    color: lime;
}

/* ID Selector */

#main-heading{
    color: red;
}

/* Descendant Selector */

.container p{
    background-color: rgba(0,0,0,0.5);
}

/* Child Selector */

div > p{
    border: 2px solid white;
}

/* Adjacent Sibling */

h2 + p{
    color: cyan;
}

/* General Sibling */

h3 ~ p{
    color: orange;
}
